@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face { 
    font-family: "Rubik"; 
    src: url('https://learn.microsoft.com/en-us/typography/font-list/bodoni-mt'); 
    font-weight: normal; 
    font-style: normal; 
  } 
    
  @font-face { 
    font-family: "Rubik"; 
    src: url('https://learn.microsoft.com/en-us/typography/font-list/bodoni-mt'); 
    font-weight: bold; 
    font-style: normal; 
  } 
    
  @font-face { 
    font-family: "Rubik"; 
    src: url('https://learn.microsoft.com/en-us/typography/font-list/bodoni-mt'); 
    font-weight: normal; 
    font-style: italic; 
  }